extends layouts/main.pug

block content
    body.container
        main.result_page.page.fade_in
            .result_wrapper.wrapper
                .result1.result.char_result
                    .result-server #{finalResult.SCORE}/#{finalResult.CA}/#{finalResult.PO}/#{finalResult.AC}/#{finalResult.AW}
                    .char_ment 나의 솔로탈출 유형은
                    .char_name 캐릭터 이름
                    img.char_pic(alt='캐릭터이미지')
                    #rank_ment1
                        | 상위 
                        label#percentage #{percentage}%
                        | 의 능력자
                .result2.result.ability_result
                    .ability_title.sub_title 너님의 능력치
                    .progress_wrapper
                        .progress_title 철벽력
                        .progress
                            .progress-bar.progress-bar-danger.progress-bar-striped.bar_CA(style="width:20%;")
                        .progress_title 기회발굴능력
                        .progress
                            .progress-bar.progress-bar-info.progress-bar-striped.bar_PO(style="width:20%;")
                        .progress_title 썸 캐리력
                        .progress
                            .progress-bar.progress-bar-warning.progress-bar-striped.bar_AC(style="width:20%;")
                        .progress_title 주제파악능력
                        .progress
                            .progress-bar.progress-bar-success.progress-bar-striped.bar_AW(style="width:20%;")
                .result3.result.tip_result
                    .tip_title.sub_title 솔로탈출 팁
                    .ability_tip
                .result4.result.rank_result
                    .rank_wrapper
                        .before_wrapper
                            label#before_me.sub_title 내 앞에 경쟁자
                            div 추가
                        .after_wrapper
                            label#after_me.sub_title 내 뒤에 경쟁자
                            div 추가
                .result5.result.share_result
                    .share_title.sub_title 공유하기
                    .btn-collection
                        a#btnTwitter.link-icon.twitter 트위터
                        a#btnFacebook.link-icon.facebook 페이스북
                        a#btnKakao.link-icon.kakao 카카오
                        a#btnLink.link-icon.link 링크복사
                    .result_btn_wrapper
                        button#other_result 솔로탈출 순위 구경하기
                        button#retest 테스트 다시하기
        